{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'main/css/auth.css' %}">

</head>
<body>
  <section class="auth-container">
    <div class="form-box">
      <h2>Signup</h2>

{% if messages %}
  {% for message in messages %}
    {% if message.tags == "error" %}
      <div class="error-messages">
        <p style="color:red; margin:.5rem 0">{{ message }}</p>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}

<form method="POST" action="{% url 'savesignup' %}">
  {% csrf_token %}


  <div class="name-group">
    <input type="text" name="firstname" placeholder="First Name" required>
    <input type="text" name="lastname" placeholder="Last Name" required>
  </div>

  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password1" placeholder="Password" required>
  <input type="password" name="password2" placeholder="Repeat Password" required>

  <select name="section" id="section" required>
    <option value="">Select Section</option>
    {% for section in sections %}
      <option value="{{ section.class_id }}">
        {{ section.class_name }} (Year {{ section.year_level }})
      </option>
    {% endfor %}
  </select>

  <button type="submit" class="btn">Signup</button>
</form>

      <p class="redirect">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
  </section>
  <footer>© 2025 SURVEYLYZE | All rights reserved.</footer>
<script src="{% static 'main/Javascript/signup.js' %}"></script>
</body>
</html>
