@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #d7b8f3, #f3e6ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.form-box {
  background: #fff0ff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  text-align: center;
  width: 350px;
}

.form-box h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #4b2e83;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, select {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  outline: none;
}

.name-group {
  display: flex;
  gap: 0.5rem;
}

.btn {
  background: white;
  border: 2px solid #4b2e83;
  color: #4b2e83;
  font-weight: 700;
  border-radius: 30px;
  padding: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #4b2e83;
  color: white;
}

.redirect {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.redirect a {
  color: #4b2e83;
  font-weight: 600;
}

footer {
  background-color: #b388eb;
  color: #000;
  text-align: center;
  padding: 0.8rem;
  font-weight: 700;
  font-size: 0.8rem;
}
